<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <title>GarageSale - Create Item</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">GarageSale</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/items/{{userId}}">Recommended For You</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/createItem/{{userId}}">Sell Item <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/{{userId}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log Out</a>
              </li>

          </ul>
        </div>
      </nav>

      <br>
      <br>
      <br>
      <center>
        <div style="width:75%;" class="jumbotron">
            <h3>Create Product </h3>
            <br>
            <br>
            <form action="create/{{ userId }}" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Product Name</label>
                    <input type="text" class="form-control" id="productName" placeholder="Product Name" name="productName">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Category/Type of Item</label>
                  <select class="form-control" id="categorySelector" name="category">
                    <option value="1">Vaccuum</option>
                    <option value="2">Mop</option>
                    <option value="3">Glue/Tape/Adhesive</option>
                    <option value="4">Powerless Tools (no electricity required)</option>
                    <option value="5">Powered Tools (electricity/batteries required)</option>
                    <option value="-1">Other</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Start Availability Date (yyyy/mm/dd)</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Start Availability Date" name="start">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">End Availability Date (yyyy/mm/dd)</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="End Availability Date" name="end">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">Brand Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Brand Name" name="brandName">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">Item Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Item Description" name="description">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">Price</label>
                        <input type="text" class="form-control" id="priceInput" placeholder="" name="price">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Add Other Keywords(Comma Separated) </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="keywords"></textarea>
                </div>


                <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-7">Submit</button>
                </div>
            </form>
        </div>


    </center>
  </body>

  <script>
    const suggestedPriceString = "Suggested Price: ";
    let prices = {{avgPrices | tojson}}; //syntax to read the dictionary
    console.log(prices)
    console.log(prices.length)
    const selector = document.getElementById('categorySelector');
    var userPrice = document.getElementById('priceInput');
    $( "#categorySelector" )
        .change(function() {
          var item = "";
          $( "#categorySelector option:selected" ).each(function() {
            item += $( this ).val();
            console.log(item);
          });

          var category = parseInt(item, 10);
          var i =0;
          var found = false;
          for(; i<prices.length; ++i){
            const arr = prices[i];
            if(arr[0] === category){
              found = true;
              break;
            }
          }
          if(found){
            userPrice.placeholder = suggestedPriceString+prices[i][1];
          }
          else{
            userPrice.placeholder = suggestedPriceString+"9.99";
          }
        })
        .trigger("change");

  </script>

</html>
