<html>
    <head>
      <title>Garage Sale Homepage</title>
    </head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
      <h1> Welcome to Garage Sale! </h1>
      <h2> Looking to rent or sell your household items? </h2>
      <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </body>

</html>
