<!DOCTYPE html>
<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>GarageSale - Search</title>
    </head>

    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">GarageSale</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buy Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createItem">Sell Item</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Profile </a>
                    </li>

                </ul>
            </div>
        </nav>


        <br>
        <br>


        <center>
            <div style="margin-left: 90px;margin-right: 90px; margin-top: 15px;;">

                <!-- Search Form -->
                <form class="md-form mt-0" action="getresults" method="POST">
                    <input class="form-control" type="text" placeholder="Search" name="search" aria-label="Search">
                    <br>
                    <!-- TODO: Filter Options -->
                    <br>
                    <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Start Search!</button>
                </form>


                <!-- RESULTS -->
                {% if res[0] != 'start' %}
                    <div style="margin-top: 45px;">
                        <h3> Search Results </h3> 
                        <hr>
                        {% if res[0] == 'none' %}
                            <div class="alert alert-warning" role="alert">
                                <strong>Oops!</strong> No items matched your query.
                            </div>
                        {% else %}
                            {% for r in res[1] %}
                                {% if r[5] == True %}
                                    <div class="card border-dark mb-3" style="">
                                        <div class="card-header"> 
                                            Item
                                            <a></a>
                                        </div>
                                        <div class="card-body text-dark">
                                            <!-- TODO: ADD MORE INFO TO CARD -->
                                            <h5 class="card-title">{{r[2]}} </h5>
                                            <p class="card-text"> Item #{{r[0]}}</p>
                                            <p class="card-text"> Brand: {{r[6]}}</p>
                                            <p class="card-text"> {{r[7]}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>                     
                {% endif %}

            </div>
        </center>

    </body>

</html>