<html> 
    <head> 
      <title>Sign Up for Garage Sale</title>
      
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <style>
      #home-button {
        width: 200px;
        height: 100px;
      }
    </style>
    <body> 
      <form action="create/user" method="POST">
        First Name: <input type="text" name="firstName"><br>
        Last Name: <input type="text" name="lastName"><br>
        Email Address: <input type="text" name="email"><br>
        Phone Number: <input type="text" name="phoneNumber"><br>
        Zip Code: <input type="text" name="zipCode"><br>
        Password: <input type="text" name="password"><br> 
        <input type="submit">
      </form>
      <a href="/">Click me to go back to the home page.</a>
      
    </body>

</html>