<html> 
    <head> 
      <title>Sign Up for Garage Sale</title>
      
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <style>
      #home-button {
        width: 200px;
        height: 100px;
      }
    </style>
    <body> 
      <center>
        <div style="width:75%;" class="jumbotron">
          <h3>Sign up for Garage Sale</h3> 
          <br>
          <br> 
          <form action="create/user" method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">First Name</label>
                <input type="text" class="form-control" id="productName" placeholder="First Name" name="firstName">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name" name="lastName">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Email Address</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email" name="email">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Phone Number</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Phone Number" name="phoneNumber">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Zip Code</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Zip Code" name="zipCode">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Password</label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Your password" name="password">
            </div>

            <div class="form-group">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check if you agree with the Terms and Conditions</label>
            </div>

            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-7">Sign Up</button>
            </div>
              
          </form>
        </div>
      </center>
            
    </body>

    <center>
        <a href="/login">Have an account? Log In Here.</a>
    </center>

</html>