<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>GarageSale - Create Item</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GarageSale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/items/{{userId}}">Buy Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createItem">Sell Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/{{userId}}">Profile</a>
              </li>

          </ul>
        </div>
      </nav>

      <br> 
      <br> 
      <br> 
      <center>
        <div style="width:75%;" class="jumbotron">
            <h3>Edit Listing </h3> 
            <br>
            <br> 
            <form action="/createItem/update/create/{{res[1]}}/{{res[0]}}" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Product Name</label>
                    <input type="text" class="form-control" id="productName" placeholder="Product Name" name="productName" value="{{res[2]}}">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Start Availability Date</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Start Availability Date" name="start" value="{{res[3]}}">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">End Availability Date</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="End Availability Date" name="end" value="{{res[4]}}"> 
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">Brand Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Brand Name" name="brandName" value="{{res[5]}}">
                </div>
                <div class="form-group">
                        <label for="formGroupExampleInput2">Item Description</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Item Description" name="description" value="{{res[6]}}">
                </div>
                <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-7">Save</button>
                </div>
            </form>
        </div>
    </center>






  </body>
</html>